<div
  class="fixed inset-y-0 right-0 z-10 flex-shrink-0 w-96 bg-white border-r-2 border-indigo-100 shadow-lg sm:right-16 sm:w-72 lg:static lg:w-96"
>
  <div class="flex flex-col w-full mb-3">
    <div class="flex border-b justify-between w-full items-center pl-5">
      <h2 class="font-medium text-lg">Information</h2>
      <button class="p-2 pr-5" (click)="toggleInfoSidebar()">x</button>
    </div>
    <div class="flex border-b flex-col w-full p-5">
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Document title</label>
        <p class="text-sm text-nowrap">Rest Test Unregistered 2024-11-11_01</p>
      </div>
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Display title</label>
        <p class="text-sm text-nowrap">Rest Test Unregistered</p>
      </div>
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Author</label>
        <p class="text-sm text-nowrap">
          DO CARMO DIAS Alberto (FINS - DIR BUDGET/FINANCES)
        </p>
      </div>
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Main language</label>
        <p class="text-sm text-nowrap">English</p>
      </div>
    </div>

    <div class="flex border-b flex-col w-full p-5">
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">From </label>
        <p class="text-sm text-nowrap">
          DO CARMO DIAS Alberto (FINS - DIR BUDGET/FINANCES)
        </p>
      </div>
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">To</label>
        <p class="text-sm text-nowrap">
          PAPACHRISTOPOULOU Georgios (FINS - BUDGET UNIT)
        </p>
      </div>
    </div>
    <div class="flex border-b flex-col w-full p-5">
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Marking </label>
        <p class="text-sm text-nowrap">Unrestricted</p>
      </div>
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Personal</label>
        <p class="text-sm text-nowrap">Not personal</p>
      </div>
      <div class="flex w-full flex-col mb-2">
        <label class="text-xs text-gray-500">Transparency</label>
        <p class="text-sm text-nowrap">No</p>
      </div>
    </div>
  </div>
</div>
