<div
  class="fixed inset-y-0 right-0 z-10 flex-shrink-0 w-96 bg-white border-r-2 border-indigo-100 shadow-lg sm:right-16 sm:w-72 lg:static lg:w-96"
>
  <div class="flex flex-col w-full mb-3">
    <div class="flex border-b justify-between w-full items-center pl-5">
      <h2 class="font-medium text-lg">Events</h2>
      <button class="p-2 pr-5" (click)="toggleEventsSidebar()">x</button>
    </div>
    <div class="flex border-b flex-row flex-wrap w-full p-5">
      <div class="flex w-1/2">
        <badge><i class="bi bi-pencil-square mr-1"></i>General</badge>
      </div>
      <div class="flex w-1/2 justify-end text-sm">28/10/2024</div>
      <div class="flex w-full flex-col text-sm mt-2">
        <p class="font-medium">Reply on Agenda for a main element rest</p>
        <p class="text-xs">PAPACHRISTOPOULOU Georgios (FINS - BUDGET UNIT)</p>
      </div>
    </div>
    <div class="flex border-b flex-row flex-wrap w-full p-5">
      <div class="flex w-1/2">
        <badge bg="#FAFCF8" textColor="#497915"
          ><i class="bi bi-check text-lg"></i>Completed</badge
        >
      </div>
      <div class="flex w-1/2 justify-end text-sm">28/10/2024</div>
      <div class="flex w-full flex-col text-sm mt-2">
        <p class="font-medium">Sign</p>
        <p class="text-xs">PAPACHRISTOPOULOU Georgios (FINS - BUDGET UNIT)</p>
      </div>
    </div>
    <div class="flex border-b flex-row flex-wrap w-full p-5">
      <div class="flex w-1/2">
        <badge bg="#FAFCF8" textColor="#497915"
          ><i class="bi bi-check text-lg"></i>Completed</badge
        >
      </div>
      <div class="flex w-1/2 justify-end text-sm">28/10/2024</div>
      <div class="flex w-full flex-col text-sm mt-2">
        <p class="font-medium">Review</p>
        <p class="text-xs">PAPACHRISTOPOULOU Georgios (FINS - BUDGET UNIT)</p>
      </div>
    </div>
    <div class="flex border-b flex-row flex-wrap w-full p-5">
      <div class="flex w-1/2">
        <badge>
          <svg
            width="15"
            height="15"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5C13.5 6.98528 11.4853 9 9 9C6.51472 9 4.5 6.98528 4.5 4.5C4.5 2.01472 6.51472 0 9 0C11.4853 0 13.5 2.01472 13.5 4.5ZM9 7.5C10.6569 7.5 12 6.15685 12 4.5C12 2.84315 10.6569 1.5 9 1.5C7.34315 1.5 6 2.84315 6 4.5C6 6.15685 7.34315 7.5 9 7.5Z"
              fill="#0e6775"
            />
            <path
              d="M9.38409 18C9.21471 17.5208 9.09791 17.0167 9.04062 16.4948H1.5C1.50214 16.1246 1.73063 15.0157 2.74815 13.9982C3.72653 13.0198 5.56632 12 8.99998 12C9.39073 12 9.76084 12.0132 10.1114 12.0381C10.4491 11.526 10.8547 11.0628 11.3154 10.661C10.6156 10.5573 9.84598 10.5 9 10.5C1.5 10.5 0 15 0 16.5C0 18 1.5 18 1.5 18H9.38409Z"
              fill="#0e6775"
            />
            <path
              d="M10.5 15.75C10.5 18.6495 12.8505 21 15.75 21C18.6495 21 21 18.6495 21 15.75C21 12.8505 18.6495 10.5 15.75 10.5C12.8505 10.5 10.5 12.8505 10.5 15.75ZM19.2803 16.2803L17.0303 18.5303C16.7374 18.8232 16.2626 18.8232 15.9697 18.5303C15.6768 18.2374 15.6768 17.7626 15.9697 17.4697L16.9393 16.5L12.75 16.5C12.3358 16.5 12 16.1642 12 15.75C12 15.3358 12.3358 15 12.75 15L16.9393 15L15.9697 14.0303C15.6768 13.7374 15.6768 13.2626 15.9697 12.9697C16.2626 12.6768 16.7374 12.6768 17.0303 12.9697L19.2803 15.2197C19.421 15.3603 19.5 15.5511 19.5 15.75C19.5 15.9489 19.421 16.1397 19.2803 16.2803Z"
              fill="#0e6775"
            />
          </svg>
          Delegated</badge
        >
      </div>
      <div class="flex w-1/2 justify-end text-sm">28/10/2024</div>
      <div class="flex w-full flex-col text-sm mt-2">
        <p class="font-medium">Validation</p>
        <p class="text-xs">PAPACHRISTOPOULOU Georgios (FINS - BUDGET UNIT)</p>
      </div>
    </div>
  </div>
</div>
