<div class="w-full border-b">
    <nav class="flex">
        <a class="py-3 px-5 text-[#1976d2] font-medium border-b-2 border-[#1976d2] relative" href="">Open task

            <svg class="absolute right-[-2px] top-4 text-xs" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" style="width:var(--ng-icon__size, 1em);height:var(--ng-icon__size, 1em)"><circle cx="8" cy="8" r="8"></circle></svg>
        </a>
        <a class="py-3 px-5" href="">Upcoming task</a>
        <a class="py-3 px-5" href="">Completed task</a>
        <a class="py-3 px-5" href="">Received documents</a>
    </nav>
</div>
