<div class="h-screen flex items-center justify-center gap-3">
    <div class="flex gap-3 w-6/12 flex-wrap">
        <index-button [routerLink]="['/bricks/home']">
            Dashboard
        </index-button>
        <index-button [routerLink]="['/bricks/create-document']">
            Create document
        </index-button>
        <index-button [routerLink]="['/bricks/create-document']">
            Inbox
        </index-button>
        <index-button [routerLink]="['/bricks/create-document']">
            Task detail
        </index-button>
        <index-button [routerLink]="['/bricks/create-assignment']">
            Create assignments
        </index-button>
        <index-button [routerLink]="['/bricks/create-document']">
            Assignments
        </index-button>
        <index-button [routerLink]="['/bricks/create-document']">
            Document detail
        </index-button>
    </div>
    
</div>