<nav class="navbar">
    <div class="navbar-start">      
        <div class="brand">BRICKS</div>
    </div>
</nav>
<div class="h-screen flex items-center justify-center gap-3 area">
    <div class="flex gap-3 md:w-7/12  xl:w-4/12 2xl:w-3/12 w-4/5 flex-wrap">
        <index-button [routerLink]="['/bricks/home']">
            Dashboard
        </index-button>
        <index-button [routerLink]="['/bricks/create-document']">
            Create document
        </index-button>
        <index-button [routerLink]="['/bricks/inbox']">
            Inbox
        </index-button>
        <index-button [routerLink]="['/bricks/task-detail']">
            Task detail
        </index-button>
        <index-button [routerLink]="['/bricks/create-assignment']">
            Create assignments
        </index-button>
        <index-button [routerLink]="['']">
            Assignments
        </index-button>
        <index-button [routerLink]="['/bricks/document-detail']">
            Document detail
        </index-button>
    </div>    
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div>

